h5, h4, h3, h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.logo-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.logo-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

h2 {
  font-size: 44px;
  line-height: 130%;
  color: #545454;
}
@media (max-width: 570px) {
  h2 {
    font-size: 25px;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 570px) {
  h3 {
    font-size: 25px;
    text-align: center;
  }
}

h4 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
@media (max-width: 570px) {
  h4 {
    font-size: 15px;
    line-height: 110%;
  }
}

h5 {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
@media (max-width: 570px) {
  h5 {
    letter-spacing: 0;
    text-align: center;
  }
}

.paragraph-l {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
@media (max-width: 570px) {
  .paragraph-l {
    max-width: 320px;
    height: auto;
  }
}

.paragraph-s {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
}

.donation-description {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.pets-card-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 0;
}

.paragraph-mobile-menu {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  color: #fafafa;
}
.paragraph-mobile-menu.current {
  color: #cdcdcd;
}

a {
  color: red;
}

button {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.button-primary {
  width: 157px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background: #f1cdb3;
}
.button-primary:hover {
  background: #fddcc4;
}

.button-wrapper {
  width: 103%;
  display: flex;
  position: absolute;
  justify-content: space-between;
}
@media (max-width: 570px) {
  .button-wrapper {
    position: static;
    width: 190px;
  }
}
.button-wrapper .button-arrow {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background: none;
}
.button-wrapper .button-arrow.invalid {
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}
.button-wrapper .button-arrow.invalid:hover {
  background: none;
}
.button-wrapper .button-arrow:hover {
  background-color: #fddcc4;
}
.button-wrapper .button-arrow svg {
  width: 14px;
  height: 6px;
}

.button-round {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  background: none;
  width: 52px;
  height: 52px;
}
.button-round.invalid {
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}
.button-round.invalid:hover {
  background: none;
}
.button-round.current {
  background: #f1cdb3;
}
.button-round:hover {
  background: #fddcc4;
}

.hamburger {
  width: 30px;
  height: 30px;
  border: 1px solid violet;
  display: none;
}
@media (max-width: calc(700px)) {
  .hamburger {
    display: flex;
    z-index: 2;
  }
}
.hamburger.active .wrapper {
  transform: rotate(-90deg);
}
.hamburger .wrapper {
  width: 100%;
  height: 22px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
.hamburger .wrapper .line {
  display: block;
  width: 100%;
  height: 2px;
  background: #f1cdb3;
}

.modal-window {
  width: 75%;
  height: 500px;
  position: absolute;
  background: yellowgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal-window .image {
  width: 40%;
}
.modal-window .image img {
  width: 100%;
  height: 100%;
}
.modal-window .content {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: start;
}
.modal-window .content ul {
  padding-left: 20px;
}
.modal-window .button-round {
  position: absolute;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -45px;
  top: -45px;
}
.modal-window .button-round svg {
  width: 12px;
  height: 12px;
}

* {
  box-sizing: border-box;
}

:root {
  --example: green;
  scroll-behavior: smooth;
  --primary-width: 1280px;
  --header-width:85%;
}

html {
  background: rgb(225, 83, 101);
}

body {
  max-width: var(--primary-width);
  overflow: overlay;
  margin: auto;
}

.pseudo-header {
  width: 100%;
  height: 120px;
  display: none;
  background: white;
}
.pseudo-header.header__fixed {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 186px;
  height: 60px;
  z-index: 2;
}
header .logo .logo-title {
  margin: 0;
  word-wrap: none;
}
header .logo .logo-subtitle {
  margin: 0;
  text-align: center;
}
header nav {
  display: flex;
  gap: 35px;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.21, 1.09, 0.58, 1);
}
@media (max-width: calc(570px + 130px)) {
  header nav {
    flex-direction: column;
    transform: translateX(500px);
  }
  header nav.active {
    align-items: center;
    z-index: 1;
    display: flex;
    transform: translateX(0);
    position: absolute;
    width: 320px;
    height: 800px;
    right: 0;
    top: 0;
    opacity: 0.98;
    padding-top: 225px;
    background: #292929;
  }
  header nav.active p {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #fafafa;
    margin: 0;
  }
  header nav.active p.current {
    color: #cdcdcd;
  }
}
header nav p {
  position: relative;
  color: #fafafa;
  cursor: pointer;
}
header nav p a {
  text-decoration: none;
  color: #fafafa;
}
header nav p:hover {
  opacity: 0.5;
}
header nav .current-page::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #f1cdb3;
  bottom: 0;
}
header .hamburger {
  position: absolute;
  right: 35px;
  top: 12px;
  border: none;
}
header .hamburger .wrapper {
  border: none;
}

header {
  height: 120px;
  transition-property: height;
  transition-duration: 0.3s;
  background: #ffffff;
  padding: 30px 40px 30px 40px;
  display: flex;
  justify-content: space-between;
}
header.header__fixed {
  position: fixed;
  z-index: 4;
  opacity: 0.96;
  height: 80px;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .logo .logo-title {
  color: #545454;
}
header .logo .logo-subtitle {
  color: #292929;
}
header nav p {
  margin: 0;
  color: #545454;
}
header nav p a {
  text-decoration: none;
  color: #545454;
}
header nav p a:visited {
  color: #545454;
}
header nav p:hover {
  opacity: 0.5;
}
header nav .current-page::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #f1cdb3;
}
header .hamburger {
  right: 77px;
  top: 38%;
}

main {
  min-height: 1342px;
  padding-top: 80px;
  padding: 80px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background: #f6f6f6;
  row-gap: 60px;
}
@media (max-width: 1103px) {
  main {
    row-gap: 30px;
  }
}
main h3 {
  text-align: center;
}
main .content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 40px;
  position: relative;
}
main .content-wrapper .card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  gap: 30px;
}
main .content-wrapper .card .image {
  width: 270px;
  height: 270px;
}
main .content-wrapper .card .image img {
  background-image: none;
}
main .content-wrapper .card p {
  align-self: center;
}
main .content-wrapper .card .button-primary {
  align-self: center;
  background: #fafafa;
  width: 187px;
}
main .content-wrapper .card .button-primary:hover {
  background: #fddcc4;
}
main .content-wrapper .button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .content-wrapper .button-arrow.left {
  left: 0;
  transform: rotate(180deg);
}
main .content-wrapper .button-arrow.right {
  right: 0;
}
main .navigation {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  width: 340px;
  height: 52px;
}
main .navigation button {
  position: static;
}

footer {
  min-height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
  background: url(../../../assets/images/start-screen-background.jpg);
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}
@media (max-width: 1103px) {
  footer {
    min-height: 639px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    row-gap: 60px;
    padding-top: 30px;
  }
}
@media (max-width: 570px) {
  footer {
    gap: 20px;
  }
}
footer h3 {
  color: #ffffff;
  align-self: center;
  width: 101%;
  height: 90px;
}
@media (max-width: 570px) {
  footer h3 {
    height: 70px;
  }
}
footer h4 {
  color: #f1cdb3;
  white-space: pre;
  font-size: 20px;
  line-height: 115%;
}
footer svg {
  fill: #f1cdb3;
}
footer .contacts {
  display: flex;
  width: 278px;
  height: 234px;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 570px) {
  footer .contacts {
    justify-content: normal;
    gap: 30px;
  }
}
footer .contacts .mail,
footer .contacts .phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
footer .location {
  width: 302px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 570px) {
  footer .location {
    gap: 32px;
    justify-content: normal;
  }
}
footer .location h3 {
  align-self: center;
  width: 98%;
  height: 90px;
}
@media (max-width: 570px) {
  footer .location h3 {
    height: 70px;
  }
}
footer .location .location-data {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .image {
  width: 310px;
  height: 310px;
  align-self: self-end;
}
@media (max-width: 1103px) {
  footer .image {
    width: 100%;
    text-align: -webkit-center;
  }
}
@media (max-width: 570px) {
  footer .image {
    width: 260px;
    height: 269px;
  }
  footer .image img {
    width: inherit;
    height: inherit;
  }
}
footer .contacts-svg {
  width: 40px;
  height: 40px;
}

footer .image {
  align-self: self-end;
}

/*# sourceMappingURL=style.css.map */
