@import "../main/styles/_variables.scss";
@import "../main/styles/_fonts.scss";
@import "../main/styles/_elements.scss";
// @import "../main/styles/page_sections/_start-screen.scss";

* {
    box-sizing: border-box;
}
:root {
    --example: green;
    scroll-behavior: smooth;
    --primary-width: 1280px;
    --header-width:85%;
}
html {
    // background: black;
    background: rgb(random(255), random(255), random(255));
}
body {
    max-width: var(--primary-width);
    overflow: overlay;
    margin: auto;
}


.pseudo-header{
    width: 100%;
    height: 120px;
    display: none;
    background: white;
    &.header__fixed{
        display: block
    }
}

@import "../main/styles/page_sections/_header.scss";
header {

    height: 120px;
    transition-property: height;
    transition-duration: 0.3s;
    
    &.header__fixed{
        position: fixed;
        z-index: 4;
        opacity: 0.96;
        height: 80px;
        top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    background: $color-light-xl;
    padding: 30px 40px 30px 40px;
    // height: 60px;
    display: flex;
    justify-content: space-between;
    .logo {
        .logo-title {
            color: $color-dark-l;
        }
        .logo-subtitle {
            color: $color-dark-3xl;
        }
    }
    nav {
        p {
            margin: 0;
            color: $color-dark-l;
            a {
                text-decoration: none;
                color: $color-dark-l;
                &:visited {
                    color: $color-dark-l;
                }
            }
            &:hover {
                opacity: 0.5;
            }
        }
        .current-page {
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                background: $color-primary;
                // top: 50px;
            }
        }
    }
    .hamburger{
        right: 77px;
        top: 38%;
    }
}





main {
    min-height: 1342px;
    padding-top: 80px;
    padding: 80px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background: $color-light-l;
    row-gap: 60px;
    @media (max-width: $breakpoint-tablet) {
        row-gap: 30px;
    }

    h3 {
        text-align: center;
    }

    .content-wrapper {
        // width: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        // gap: 8%;
        // gap: 40px;
        gap: 30px 40px;
        position: relative;
        .card {
            width: 270px;
            height: 435px;
            display: flex;
            flex-direction: column;
            background: $color-light-s;
            gap: 30px;

            .image {
                width: 270px;
                height: 270px;
                img {
                    background-image: none;
                }
            }

            p {
                align-self: center;
            }

            .button-primary {
                align-self: center;
                background: $color-light-s;
                width: 187px;
                &:hover {
                    background: #fddcc4;
                }
            }
        }

        .button-arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            &.left {
                left: 0;
                transform: rotate(180deg);
            }
            &.right {
                right: 0;
            }
        }
    }

    .navigation {
        // position: relative;
        margin-top: 28px;
        display: flex;
        justify-content: space-between;
        width: 340px;
        height: 52px;
        button {
            position: static;
        }
    }
}

// @import url(../main/styles/page_sections/_footer.scss);
@import "../main/styles/page_sections/_footer.scss";
footer {
    .image {
        align-self: self-end;
    }
}

// footer {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     padding: 20px 40px 0px 40px;
//     background: url(../../../assets/images/start-screen-background.jpg);
//     background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
//     h3 {
//         color: #ffffff;
//         white-space: pre;
//         align-self: center;
//     }
//     h4 {
//         color: $color-primary;
//         white-space: pre;
//     }
//     svg{
//         fill: $color-primary;
//     }
//     .contacts {
//         display: flex;
//         width: 278px;
//         height: 234px;
//         flex-direction: column;
//         justify-content: space-between;
//         .mail,
//         .phone {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             gap: 20px;
//         }
//     }

//     .location {
//         width: 302px;
//         height: 234px;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         h3{
//             // text-align: center;
//             align-self: auto;
//         }

//         .location-data {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//         }
//     }

//     .image {
//         width: 310px;
//         height: 310px;
//     }
//     .contacts-svg {
//         width: 40px;
//         height: 40px;
//     }
// }
