.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    width: inherit;
    height: 611px;
    row-gap: 65px;
    padding-top: 80px;
    background: $color-light-xl;
    @media (max-width: $breakpoint-tablet) {
        height: auto;
        padding-bottom: 100px;
        row-gap: 60px;
    }
    @media (max-width: $breakpoint-mobile) {
        padding: 42px 10px;
        row-gap: 40px;
    }
    h3 {
        text-align: center;
    }

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 119px;
        row-gap: 40px;
        width: 1026px;
        height: 281px;
        @media (max-width: $breakpoint-tablet) {
            width: 630px;
            height: 449px;
            display: inline-grid;
            grid-template-areas:
                ". . ."
                ". . ."
                ". . .";
            column-gap: 74px;
            row-gap: 52px;
        }
        @media (max-width: $breakpoint-mobile) {
            width: 100%;
            height: auto;
            grid-template-areas:
                ". . "
                ". . "
                ". . "
                ". . "
                ". . ";
        }
        @media (max-width: $breakpoint-mobile) {
            gap: 30px 30px;
        }

        .svg-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            height: 113px;
            @media (max-width: $breakpoint-mobile) {
                height: 87px;
            }

            .help-svg {
                position: relative;
                fill: $svg-color;
                max-width: 60px;
                max-height: 60px;
            }
        }
    }
}
