.pets {
    width: 100%;
    min-height: 877px;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    background: $color-light-l;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;

    h3 {
        text-align: center;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 42px 10px;
        gap: 42px;
        min-height: auto;
        // position: static;
    }

    .content-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8%;
        position: relative;
        @media (max-width: calc(#{$breakpoint-decktop} - 190px)) {
            gap: 30px;
        }
        @media (max-width: $breakpoint-mobile) {
            flex-direction: column;
            gap: 20px;
        }

        .card {
            width: 270px;
            height: 435px;
            display: flex;
            flex-direction: column;
            background: $color-light-s;
            gap: 30px;

            // &:nth-child(3){
            //     display: none;
            // }
            // @media (max-width: $breakpoint-tablet) {
            //     &:nth-child(3) {
            //         display: none;
            //     }
            // }

            // @media (max-width: calc(#{$breakpoint-mobile} + 190px)) {
            //     &:nth-child(2) {
            //         display: none;
            //     }
            // }

            .image {
                width: 270px;
                height: 270px;
                user-select: none;  
                img {
                    background-image: none;
                }
            }

            p {
                align-self: center;
            }

            .button-primary {
                align-self: center;
                background: $color-light-s;
                width: 187px;

                &:hover {
                    background: #fddcc4;
                }
            }
        }

        .button-arrow {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: $breakpoint-mobile) {
                position: relative;
            }

            &.left {
                left: 0;
                transform: rotate(180deg);

                @media (max-width: $breakpoint-tablet) {
                    // left: -10px;
                }

                @media (max-width: $breakpoint-mobile) {
                    // transform: rotate(180deg) translate(53px, -20px);
                }
            }

            &.right {
                right: 0;

                @media (max-width: $breakpoint-tablet) {
                    // right: -10px;
                }

                @media (max-width: $breakpoint-mobile) {
                    // transform: translate(55px, -32px);
                }
            }
        }
    }

    .button-primary {
        width: 261px;
        height: 52px;
        align-self: center;
    }
}
