// @import url(/pages/main/styles/_fonts.scss);
// @import "../fonts";
// @extend .paragraph-mobile-menu;
.start-screen {
    width: 100%;
    min-height: 908px;
    padding: 60px 40px 0 40px;
    background: url(../../../assets/images/start-screen-background.jpg);
    background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
    @media (max-width: $breakpoint-tablet) {
        padding: 30px 30px 0 30px;
    }
    @media (max-width: $breakpoint-mobile) {
        padding: 30px 10px 0 10px;
        min-height: auto;

        // height: 123px;
    }

    // @import "page_sections/_header.scss";
    @import 'header'; 
    

    .content-wrapper {
        display: flex;
        flex-direction: row;

        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
            // max-height: inherit;
            padding-top: 70px;
        }

        .content {
            display: flex;
            flex-direction: column;
            width: 460px;
            height: 322px;
            align-self: center;
            gap: 18px;
            @media (max-width: $breakpoint-mobile) {
                width: 100%;
                text-align: center;
            }
            h2 {
                color: white;
                transform: translateY(-10px);
                // !!!!!!!!!!!!!!
            }
            p {
                color: $color-dark-s;
            }
            button {
                margin-top: 7px;
                width: 207px;
                height: 52px;
                background: #f1cdb3;
                border-radius: 100px;
                border: none;
                @media (max-width: $breakpoint-tablet) {
                    align-self: center;
                }
                &:hover {
                    background-color: $color-primary-light;
                }
            }
        }
        .backgroud-img {
            background: url(../../../assets/images/start-screen-puppy.png);
            background-repeat: no-repeat;
            background-size: 698px 728px;
            width: 698px;
            height: 728px;
            margin-left: 40px;
            margin-top: 60px;

            @media (max-width: $breakpoint-tablet) {
                width: 569px;
                height: 593px;
                background-size: 569px 593px;
                align-self: end;
                margin-top: 90px;
            }
            @media (max-width: $breakpoint-mobile) {
                width: 260px;
                height: 271px;
                background-size: 260px 271px;
                margin-top: 70px;
            }
        }
    }
}
