@import "_variables.scss";
a {
    text-decoration: none;
    color: $color-dark-3xl;
}

button {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.button-primary {
    width: 157px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background: $color-primary;
    transition: all 0.15s ease;
    &:hover {
        background: #fddcc4;
    }
}
.button-wrapper {
    width: 103%;
    display: flex;
    // position: absolute;
    justify-content: space-between;
    order: 1;
    @media (max-width: $breakpoint-mobile) {
        position: static;
        width: 190px;
    }

    .button-arrow {
        border: 2px solid $color-primary;
        box-sizing: border-box;
        border-radius: 100px;
        width: 52px;
        height: 52px;
        background: none;
        transition: all 0.15s ease;
        &.invalid {
            border: 2px solid $color-dark-s;
            color: $color-dark-s;
            &:hover {
                background: none;
            }
        }
        // position: absolute;
        &:hover {
            background-color: $color-primary-light;
        }
        svg {
            width: 14px;
            height: 6px;
        }
    }
}

.button-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    @media (max-width: $breakpoint-mobile) {
        position: relative;
    }

    &.left {
        left: 0;
        transform: rotate(180deg);
        &:hover {
            transform: translateY(-3px) rotate(180deg);
            box-shadow: 0px 0px 15px -3px $color-dark-s;
        }
        @media (max-width: $breakpoint-tablet) {
            // left: -10px;
        }

        @media (max-width: $breakpoint-mobile) {
            // transform: rotate(180deg) translate(53px, -20px);
        }
    }

    &.right {
        right: 0;
        &:hover {
            box-shadow: 0px 0px 15px -3px $color-dark-s;
            transform: translateY(-3px);
        }
        @media (max-width: $breakpoint-tablet) {
            // right: -10px;
        }

        @media (max-width: $breakpoint-mobile) {
            // transform: translate(55px, -32px);
        }
    }
}

.button-round {
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
    width: 52px;
    height: 52px;
    transition: all 0.15s ease;
    &.invalid {
        border: 2px solid $color-dark-s;
        color: $color-dark-s;
        &:hover {
            background: none;
        }
    }
    &.current {
        background: $color-primary;
    }
    &:hover {
        background: $color-primary-light;
    }
}

.hamburger {
    width: 30px;
    height: 30px;
    border: 1px solid violet;
    display: none;
    user-select: none;
    @media (max-width: calc(#{$breakpoint-mobile + 130px +68px})) {
        display: flex;
        z-index: 5;
    }

    &.active {
        .wrapper {
            transform: rotate(-90deg);
        }
    }
    .wrapper {
        width: 100%;
        height: 22px;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: $color-primary;
        }
    }
}

.modal-window {
    width: 75%;
    height: 500px;
    position: absolute;
    background: $color-light-s;
    // display: none;
    z-index: 6;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.1s;
    transform: scale(0.0001);
    // margin: 0 auto;
    &.open {
        display: flex;
        transform: scale(1);
    }
    
    .image {
        @media (max-width: $breakpoint-mobile) {
            display: none;
        }
        // flex: 1 1 300px;
        width: 40%;
        // height: 500px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 40%;
        align-items: start;
        justify-content: space-around;
        ul {
            padding-left: 20px;
            li {
                &::marker {
                    color: $color-primary;
                }
            }
        }
    }
    .button-round {
        position: absolute;
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -45px;
        top: -45px;
        svg {
            width: 12px;
            height: 12px;
        }
    }
}

.psevdo-nav {
    // position: absolute;
    position: fixed;
    display: none;
    left: 0;
    &.active {
        z-index: 5;
        background: black;
        opacity: 0.5;
        height: 100%;
        width: 100%;
        display: block;
    }
}
